# --------- pytorch --------- #
torch>=1.8.0
torchvision>=0.9.0


# --------- hydra --------- #
hydra-core>=1.1.1
hydra-optuna-sweeper>=1.1.1
hydra-joblib-launcher>=1.1.5


# --------- others --------- #
tensorboard>=1.14
sklearn
numpy
